<%= form_with(model: email_note, local: true) do |form| %>
  <% if email_note.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(email_note.errors.count, "error") %> prohibited this email_note from being saved:</h2>

      <ul>
      <% email_note.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :email_id %>
    <%= form.text_field :email_id, id: :email_note_email_id %>
  </div>

  <div class="field">
    <%= form.label :notes %>
    <%= form.text_area :notes, id: :email_note_notes %>
  </div>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.text_field :user_id, id: :email_note_user_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
